.container {
display: flex;
justify-content: space-between;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 20px;
border-radius: 5px; 
padding: 20px;
}

.search {
  height:10px;
  margin-bottom: 20px;
}

.searchAndNames{
width: 20%;
/* overflow-y: auto; */
}

.responses {
  float: right;
  width: 75%; 
}

.scores{
  margin-right:50px;
  margin-left: 50px;
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
}

.response-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: large;
}

.highlight-red {
  color: red;
}


.highlight-green {
  color: green;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#dateRangeForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dateRangeForm label,
#dateRangeForm input {
  margin: 5px;
}

#questionnaireFilter label,
#questionnaireFilter input {
  margin: 5px;
}

.response {
  display: inline-block; 
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px; 
  background-color: #fff;
  font-size: 0.9em;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
}
.response-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
  grid-gap: 0px; 
}

.response p {
  margin: 3px 0;
}

.response ul {
  margin-top: 8px;
}

.response ul li {
  margin-left: 15px;
}


h2 {
  font-size: 1.2em;
  color: #333;
}

strong {
  color: #007bff;
}


blue {
  color: #007bff;
}


table {
  width: 100%;
  border: 1px solid gray; 
  border-radius: 5px; 
}

.patients-names {
  border-collapse: collapse;
  border-radius: 0px; 
  margin: 0px;
}

table td {
    padding: 8px;
    text-align: left;
  }

table th {
  background-color: #f2f2f2;
}

.patient-name {
    cursor: pointer;
}

.table-cell:hover {
background-color: #ddd; 
}

.charts-and-title {
  padding: 10px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px; 
}

.charts {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.line-chart {
  height: 300px; 
  width: 500px;
}

.doughnut-chart {
  height: 250px; 
  width: 250px;
  float: right;
  margin-right: 30px;
}