.container {
display: flex;
justify-content: space-between;
}

.search {
    border: 1px solid black;
    padding: 10px;
  }

.searchAndNames{
width: 30%;
overflow-y: auto;
}

.responses {
  float: right;
    width: 65%; 
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#dateRangeForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dateRangeForm label,
#dateRangeForm input {
  margin: 5px;
}

#questionnaireFilter label,
#questionnaireFilter input {
  margin: 5px;
}

/* 
#response-container {
    float: right;
    width: 55%; 
    /* text-align: right;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px; 
} */

/* Response item styling */
.response {
    display: inline-block; /* Adjust container width based on content */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    font-size: 0.9em;
    margin-right: 10px; /* Add some margin between response items */
    margin-bottom: 10px; /* Add some margin between response items */
}

.response p {
    margin: 3px 0;
}

.response ul {
    margin-top: 8px;
}

.response ul li {
    margin-left: 15px;
}


/* Additional styling  */
h2 {
    font-size: 1.2em;
    color: #333;
}

strong {
    color: #007bff;
}


table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black; /* Add border to the table */
}

table th {
  border: 1px solid black; /* Add border to table cells */
  padding: 8px;
  text-align: left;
}

table td {
    padding: 8px;
    text-align: left;
  }

table th {
  background-color: #f2f2f2;
}

.patient-name {
    cursor: pointer;
  }

.table-cell:hover {
background-color: #ddd; /* Change this to your preferred color */
}